In [1]:
l=[1,2,3,4,5]

In [2]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [3]:
l1=["sudh","kumar","krish","naik"]

In [4]:
for i in l1:
    print(i)

sudh
kumar
krish
naik

In [5]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [6]:
for i in l1:
    print(i)
else:
    print("if for loop is able to complete itself then only else will execute")

sudh
kumar
krish
naik
if for loop is able to complete itself then only else will execute

In [7]:
# where else loop will not in use

In [8]:
for i in l1:
    if i=="krish":
        break# it will stop the loop
    print(i)

sudh
kumar

In [9]:
#else loop will only be executed when for loop will be complete atleast its one revolution

In [10]:
for i in l1:
    if i=="kumar":
        break
    print(i)
else:
    print("execute this if for loop is able to complete itself")

sudh

In [11]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [12]:
for i in l1:
    if i =="kumar":
        continue
    print(i)

sudh
krish
naik

In [17]:
# why kumar is not come
# this is because print in written parallel to if and it is also written continue

In [18]:
for i in l1:
    if i=="kumar":
        continue
        
    print(i)
else:
    print("execute this if for loop is able to complete itself")

sudh
krish
naik
execute this if for loop is able to complete itself

In [19]:
range()#its a generator used to generate the numbers less than the given number

TypeError: range expected at least 1 argument, got 0

In [20]:
range(0,5)#where 0 is starting and 5-1 is ending

range(0, 5)

In [21]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [22]:
list(range(0,5,2))#2 is jump

[0, 2, 4]

In [23]:
#we need to show the range into a list

In [24]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [25]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [33]:
#now we want to get l1 in opposite order

In [13]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [14]:
list(range(len(l1)))

[0, 1, 2, 3]

In [24]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [42]:
# so

In [29]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

naik
krish
kumar
sudh

In [45]:
l2=[23,45,67,56,78,98,76,56,45,34,23]

In [46]:
#find the data on even index

In [47]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10]

In [52]:
for i in range(0,len(l2),2):
    
    print(l2[i])

23
67
78
76
45
23

In [53]:
l=[2,45,67,34,23,56]

In [54]:
#to find its elment sum

In [55]:
result=0
for i in l:
    result+=i
result

227

In [56]:
t=(1,2,3,4,5)

In [57]:
result=0
for i in t:
    result+=i
result

15

In [59]:
s={1,2,3,4,5,"sudh","pwskills"}

In [60]:
for i in s:
    print(i)

1
2
3
4
5
sudh
pwskills

In [62]:
#for loop is itterable for all i.e set ,list ,tuple,string

In [63]:
s1="pwskills"

In [64]:
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [65]:
d={"name":"sudh","class":"data science masters",
   "topic":["python","stats","machine leaning","dl","cv","nlp","resume","interview"]}

In [66]:
d

{'name': 'sudh',
 'class': 'data science masters',
 'topic': ['python',
  'stats',
  'machine leaning',
  'dl',
  'cv',
  'nlp',
  'resume',
  'interview']}

In [67]:
d["name"]

'sudh'

In [68]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [75]:
for i in d.keys():
    print(d[i])

sudh
data science masters
['python', 'stats', 'machine leaning', 'dl', 'cv', 'nlp', 'resume', 'interview']

In [70]:
d.values()

dict_values(['sudh', 'data science masters', ['python', 'stats', 'machine leaning', 'dl', 'cv', 'nlp', 'resume', 'interview']])

In [71]:
for i in d.values():
    print(i)

sudh
data science masters
['python', 'stats', 'machine leaning', 'dl', 'cv', 'nlp', 'resume', 'interview']

In [72]:
for i in d.items():
    print(i)

('name', 'sudh')
('class', 'data science masters')
('topic', ['python', 'stats', 'machine leaning', 'dl', 'cv', 'nlp', 'resume', 'interview'])

In [78]:
#quiz

False

In [78]:
False or False and False

False

In [87]:
a="bhupeshkumar"
b=a.isalnum()
print(b)

True

In [88]:
#space is not alphanumeric so it return false

In [ ]:
#contains both numbers and characters

In [93]:
a="bhupesh 1kumar"
b=a.isalpha()
print(b)

False

In [91]:
#need to be all alphabets and space will return false

In [102]:
a="-2.4"
b=a.isnumeric()
print(b)

True

In [103]:
#all the numbers should be integer and it will give false in case of negative numbers, decimal numbers and spaces

In [112]:
string="pwskills"
" ".join(string.replace(" ",""))

'p w s k i l l s'

In [123]:
"pwskills"[::-1].upper().replace("SLLIKSWP","pwskills").islower()

True

In [117]:
s="i want to be"
for i in s.split():
    i.capitalize()
    print(i.title())

I
Want
To
Be

In [119]:
s="ilove"
s.split()

['ilove']

In [120]:
a="bhupesh"
a.center(10,"#")

'#bhupesh##'

In [121]:
a="bhupesh"
a.ljust(10,"#")

'bhupesh###'

In [122]:
a="bhupesh"
a.rjust(10,"#")

'###bhupesh'